span, p {
	font-size: 18px;
}

.header {
	display: flex;
	align-items: center;

	p {
		margin: 0;
	}
}

.status {
	display: flex;
	align-items: center;
}

.title {
	margin-left: 20px;
}

.cotent-person {
	margin-left: 35px;
}

.item {
	border-bottom: 1px solid #b7b7b7;
	padding: 15px;

	&:first-child {
		border-top: 1px solid #b7b7b7;;
	}
}

.message {
	margin-top: 20px;
}