@import "variables";

.container {
	margin: 30px auto 0 auto;
	max-width: $xs;

	@media (min-width: $lg) {
		max-width: $xl;
	}

	@media (min-width: $md) {
		max-width: $lg;
	}

	@media (min-width: $sm) {
		max-width: $md;
	}

	@media (min-width: $xs) {
		max-width: $sm;
	}
}